# Android
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/
captures/
.idea/
*.iml
local.properties

# Keystores
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Firebase
google-services.json

# Archivos generados por Android Studio
*.json
*.kt
*.java
*.class

# Archivos de configuración temporales
*.orig
*.rej
